{{!
    @template aiplacement_modgen/modal
    @description Custom modal wrapper for the Module Generator workflow.
}}
{{< core/modal }}
    {{$classes}}modal-dialog-scrollable modal-lg aiplacement-modgen__modal{{/classes}}
    {{$bodyclasses}}aiplacement-modgen__modal-body{{/bodyclasses}}
    {{$footerclasses}}aiplacement-modgen__modal-footer{{/footerclasses}}
{{/ core/modal }}
