<div class="aiplacement-modgen-preview">
    {{#notifications}}
    <div class="{{classes}}" role="alert">{{message}}</div>
    {{/notifications}}

    {{#hassummary}}
    <section class="aiplacement-modgen-preview__summary">
        <h3>{{summaryheading}}</h3>
        <p>{{{summary}}}</p>
    </section>
    {{/hassummary}}

   <!-- {{#hasjson}}
    <section class="aiplacement-modgen-preview__json">
        <h3>{{jsonheading}}</h3>
        <p class="aiplacement-modgen-preview__json-description">{{jsondescription}}</p>
        <pre><code>{{{json}}}</code></pre>
        <p class="aiplacement-modgen-preview__json-note">{{jsonnote}}</p>
    </section>
    {{/hasjson}}
    -->
    {{{form}}}
</div>
