<div class="aiplacement-modgen-preview">
    {{#notifications}}
    <div class="{{classes}}" role="alert">{{message}}</div>
    {{/notifications}}

    {{#hasprompt}}
    <section class="aiplacement-modgen-preview__prompt">
        <h3>{{promptheading}}</h3>
        <div id="aiplacement-modgen-prompt">
            <div class="aiplacement-modgen-preview__prompt-body">
                <p>{{prompttext}}</p>
            </div>
        </div>
    </section>
    {{/hasprompt}}

    {{#hassummary}}
    <section>
        <h3>{{summaryheading}}</h3>
        <p class="aiplacement-modgen-preview__summary">{{{summary}}}</p>
    </section>
    {{/hassummary}}

   {{#hasjson}}
    <section class="aiplacement-modgen-preview__json">
        <h3>{{jsonheading}}</h3>
        <p class="aiplacement-modgen-preview__json-description">{{jsondescription}}</p>
        <pre><code>{{{json}}}</code></pre>
        <p class="aiplacement-modgen-preview__json-note">{{jsonnote}}</p>
    </section>
    {{/hasjson}}
    
    {{{form}}}
</div>
